In [13]:
#List of highschools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
#Dictionary of high schools and type of school
high_schools_type = [{"High School" : "Griffin", "Type" : "District"},{"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [6]:
#printing out the dictionary 
for high_schools in high_schools_type:
    print(high_schools)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [10]:
#it's time to use pandas
import pandas as pd

In [14]:
#create a series from the previously created list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [15]:
#iterate through school_series and print out each high school
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [16]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [18]:
#printing out the dictionary 
for high_schools in high_school_dicts:
    print(high_schools)

{'School ID': 0, 'school_name': 'Huang High    School', 'type': 'District'}
{'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'}
{'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'}
{'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'}
{'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}

In [19]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [20]:
#create three seperate lists of info about high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [46]:
#initialize an empty dataframe with pandas
schools_df = pd.DataFrame()
schools_df["School Id"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school
schools_df.head()

   School Id            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [41]:
cake_flavour = ['vanilla', 'chocolate', 'lemon']
cake_frosting = ['earl grey', 'caramel', 'vanilla']
cake_price = [1200, 1300, 1400]

In [42]:
cakes_df = pd.DataFrame()
cakes_df["Cake Flavour"] = cake_flavour
cakes_df["Frosting"] = cake_frosting
cakes_df["Price"] = cake_price
cakes_df["Price"] = cakes_df["Price"].map('${:,}'.format)
cakes_df.head()

  Cake Flavour   Frosting   Price
0      vanilla  earl grey  $1,200
1    chocolate    caramel  $1,300
2        lemon    vanilla  $1,400

In [43]:
cakes_df.columns

Index(['Cake Flavour', 'Frosting', 'Price'], dtype='object')

In [45]:
cakes_df.index

RangeIndex(start=0, stop=3, step=1)

In [47]:
cakes_df.values

array([['vanilla', 'earl grey', '$1,200'],
       ['chocolate', 'caramel', '$1,300'],
       ['lemon', 'vanilla', '$1,400']], dtype=object)